@model List<PostViewModel>

@foreach (PostViewModel post in Model)
{
    <div id="allHolder">
        <div id="postHolder">
            <div class="post">
                <h3>
                    <a class="post-title entry-title" asp-controller="Blog" asp-action="PostDetails" asp-route-id="@post.PostId">@post.Titulo</a>
                </h3>
                <div class="postmeta-primary">
                    <span class="meta_pbtauthor">
                        By&nbsp;<a href="#" rel="author" title="author profile">@post.UsuarioPropietario.NombreCompleto</a>
                    </span>&nbsp;
                    <span class="meta_date">@post.FechaActualizacion</span>&nbsp;
                    <span class="meta_comments">
                        <a href="#" onclick="">@post.Comentarios.Count comments</a>
                    </span>
                </div>
                <div class="post-body entry-content">
                    <div>
                        @Html.Raw(post.Resumen)
                    </div>
                </div>
            </div>
        </div>
        <div class="postButtonHolder" id="postButtonHolder">
            <div class="postActions">
                <div id="subscribeButtonHolder" class="container" style="display: none;">
                    <span id="subscribeButton" class="notifyMeCheckbox"></span>
                    <label for="subscribeButton" class="checkboxLabel">Notify me</label>
                </div>
                <div class="deletePost">
                    <a asp-controller="Blog" asp-action="DeletePost" asp-route-id="@post.PostId" class="bg-danger text-white border-danger"><span class="fa fa-trash"></span> Delete</a>
                </div>
                <div class="editPost">
                    <a asp-controller="Blog" asp-action="EditPost" asp-route-id="@post.PostId" class="bg-primary text-white border-primary"><span class="fa fa-edit"></span> Edit</a>
                </div>
                <div class="readmore">
                    <a asp-controller="Blog" asp-action="PostDetails" asp-route-id="@post.PostId" class="bg-success text-white border-success">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <br />
}